<div id="main">
    <h1 class="pageHeader">Issues</h1>
    <h2>Click on the issue you want to modify</h2>
    <div id="issuesTableContainer">
        <table id="issuesTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Avatar</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>        
                {{#if issuesToView.length}}
                {{#each issuesToView}}
                <tr class="issuesTr" id="issue{{this.id}}">
                    <td id="issueName"><a href="/issues/issue/{{this.iid}}">{{this.title}}</a></td>
                    <td id="issueDesc"><a href="/issues/issue/{{this.iid}}">{{this.description}}</a></td>
                    <td><a href="/issues/issue/{{this.iid}}"><img src="{{this.avatar}}"/></a></td>
                    <td><a id="issueStatus" href="/issues/issue/{{this.iid}}">{{this.status}}</a></td>
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td>Could not find Issues.</td>
                </tr>
                {{/if}}
                </tbody>
        </table>

        <template id="issueTemplate">
            <tr class="issuesTr">
                <td><a id="issueName" href=""></a></td>
                <td ><a id="issueDesc" href=""></a></td>
                <td><a id="issueGravatar" href=""><img id="gravatar" src="#"/></a></td>
                <td><a id="issueStatus" href=""></a></td>             
             </tr>
        </template>
    </div>
</div>