<div id="main">
    <h1 class="pageHeader">Issues</h1>
    <div id="issuesTableContainer">
        <table id="issuesTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Avatar</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>        
                {{#if issuesToView.length}}
                {{#each issuesToView}}
                <tr class="issuesTr" id="issue{{this.id}}">
                    <th id="issueName"><a href="#">{{this.title}}</a></th>
                    <td id="issueDesc"><a href="#">{{this.description}}</a></td>
                    <td><a href="#"><img src="{{this.avatar}}"/></a></td>
                    <td><a id="issueStatus" href="#">{{this.status}}</a></td>
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td>Could not find Issues.</td>
                </tr>
                {{/if}}
                </tbody>
        </table>

        <template id="issueTemplate">
            <tr class="issuesTr">
                <th ><a id="issueName" href="/issues/#"></a></th>
                <td ><a id="issueDesc" href="/issues/#"></a></td>
                <td><a href="/issues/#"><img id="gravatar" src="#"/></a></td>
                <td><a id="issueStatus" href="#"></a></td>             
             </tr>
        </template>
    </div>
</div>