<div id="main">
    {{#if viewData}}
        <h1 class="pageHeader">{{viewData.title}}</h1>
        <img src="{{viewData.avatar}}"/>
        <p>{{viewData.description}}</p>
        <p>{{viewData.iid}}</p>
        <p>{{viewData.status}}</p>

        <a href="./{{viewData.iid}}/close">Close issue</a>
    {{/if}}

</div>